* {
  box-sizing: border-box;
}
:root {
  --primary: #23272b;
  --secondary: #343a40;
  --tertiary: #bee5bf;
  --white: rgb(255, 255, 255);
  font-size: 2em;
}
header {
  display: flex;
  justify-content: space-between;
}

body {
  text-align: center;
}

/* button styles */
#play-button {
  width: 25%;
}

/*answer options */
button {
  background: var(--secondary);
  color: var(--white);
  width: -webkit-fill-available;
  height: 3.5em;
  margin: 1em;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px grey;
  margin-top: 10px;
  font-size: 0.5em;
}
button:hover {
  background: var(--primary);
  border-radius: 10px;
  box-shadow: 0 2px grey;
  cursor: pointer;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

/*initials submit button */
#submit-score,
#back,
#clear {
  width: 25%;
}
